---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import { getCollection } from "astro:content";

const experienceEntries = await getCollection('experience');
const educationEntries = await getCollection('education');

const experienceSorted = experienceEntries.sort( (a, b) => b.data.timeStart.valueOf() - a.data.timeStart.valueOf());
const educationSorted = educationEntries.sort( (a, b) => b.data.timeStart.valueOf() - a.data.timeStart.valueOf());

const skills = ["Devops", "Kubernetes", "AWS", "Networking", "DNS", "RabbitMQ", "Kafka", "Sensedia", "Python", "Linux", "Terraform", "Ansible", "Git", "Java", "Javascript", "SQL", "Docker", "Nginx", "Jenkins", "CI/CD"];
const certifications = [{
  "name": "EF SET English Certificate 74/100 (C2 Proficient)",
  "link": "https://www.efset.org/cert/nnRQHo"
}, {
  "name": "AWS Certified Cloud Practitioner",
  "link": "https://www.credly.com/badges/de55b33e-711b-4d1d-8159-bcaa54fc5a5c?source=linked_in_profile"
},
];
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    As a Platform Engineer with over four years of experience in infrastructure engineering and operations, I have become proficient in managing both cloud and hybrid environments. My expertise includes working with Linux systems, automation, Infrastructure as Code, delivering systems as platform for internal clients & developers.
    <br/>
    <br/>
    Throughout my career, I have gained extensive experience in building resilient cloud architecture and delivering SLA and SLI with critical systems in production, often in the financial sector. My ability to run apps as a platform for internal developers has also provided them with added value and speed to their services.
    <br/>
    <br/>
    I also manage to ensure the continuous uptime of critical systems in production 24/7, both in critical situations or writing runbooks and documentating important details about the system.
    <br/>
    <br/>
    Some of my work and study content can be found at my github: <a href="https://github.com/luigieai/">github.com/luigieai/</a>    
    <br/>
    Also my Linkedin can be found at: <a href="https://www.linkedin.com/in/luigimarqs/">linkedin.com/in/luigimarqs/</a> 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>
  <ul class="list-disc md:columns-5 columns-2 mx-6">
    {skills.map(skill => <li>{skill}</li>)} 
  </ul>
  <br/>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    {experienceSorted.map(experienceEntry => (
      <TimeLineElement
      title={experienceEntry.data.title}
      timeStart={experienceEntry.data.timeStart}
      timeEnd={experienceEntry.data.timeEnd} 
      company={experienceEntry.data.company}
      desc={experienceEntry.body}
    />
    ))}
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    {certifications.map((entry) => (
      <li>
        <a href={entry.link} target="_blank"> {entry.name} </a>
    </li>
    ))}
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>
 
    <div class="time-line-container mb-10">
      {educationSorted.map(educationEntry => (
        <TimeLineElement
        title={educationEntry.data.title}
        timeStart={educationEntry.data.timeStart}
        timeEnd={educationEntry.data.timeEnd} 
        company={educationEntry.data.company}
        desc={educationEntry.body}
      />
      
      ))}
  </div>

</BaseLayout>
